body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.JeuContainer {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  h1 {
    color: #000;
    border: #7ca9d9 1px solid;
    text-align: center;
    text-transform: uppercase;
    width: 30%;
  }
  .PenduClavier {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .letters {
    min-width: 30px;
    display: flex;
    justify-content: center;
    border: 0.5px solid #7ca9d9;
    margin: 3%;
    &:hover {
      cursor: pointer;
    }
  }
  .wordTitle {
    letter-spacing: 0.4em;
  }
}
